table{
	border: dotted black;
}

th{
	background-color: black;
	color: white;
}

th:hover{
	background-color: white; 
	color: black;
}

td{
	background-color: blue;
	color: white;
}
td:hover{
	background-color: yellow;
	color: black;
}