.body {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 4em;
}

h1 {
    color: #173f5f;
    text-align: center;
}

.container {

}

#navbar  {
    overflow: hidden;
    background-color: #173f5f;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}


#navbar a {
    float: left;
    display: block;
    color: #f6d556;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background: #ddd;
    color: black;   
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    float: left;
}

li a:hover {
    background-color: #20639b;
}



.home-container {

}

.home-container:hover .home-img {
    opacity: 0.3;
}


.home-container:hover .middle {
    opacity: 1;
}

.home-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    border: 5px solid #f6d556;
    border-radius: 50px;
    filter: contrast(80%);
    z-index: 0;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text {
    background-color: #173f5f;
    color: #f6d556;
    font-size: 16px;
    padding: 16px 32px;
    z-index: 3;
}

#about {
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
}

.row {
   display: flex;
}

.column {
    flex: 50%;
    color: #173f5f;
    height: 10em;
}

h2 {
    text-align: center;
    padding-top: 2px;
}

p {
    text-align: center;
}

#contact {
    text-align: center;
}

table, tr, th, td {
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #173f5f;
    color: white;
}

td {
    margin: 50px;
    padding: 5px;
}

footer {
    text-align: center;
    background-color: #f6d556;
    font-weight: bold;
}

p:hover {
    background-color: #f6d556;
    font-weight: 900;
}