.body {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 55px;
}

h1 {
    color: #f6d556;
    text-align: center;
}

.navbar {
   position: fixed;
   top: 0;
   z-index: 100;
   background-color: #173f5f;
   height: 3em;
   width: 100%;
   overflow: hidden;
   display: block;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    float: left;
}

.home-container {
    position: relative;
}

.home-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    border: 5px solid #173f5f;
    border-radius: 50px;
    filter: contrast(80%);
    z-index: 0;
}

.campus-lake {
    position: absolute;
    color: #f6d556;
    left: 10em;
    bottom: 25em;
    z-index: 4;
}

#about {
    color: #000;
    margin-top: 5px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
    padding-top: 2px;
}

p {
    text-align: center;
}

#contact {
    text-align: center;
}

table, tr, th, td {
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #173f5f;
    color: white;
}

td {
    margin: 50px;
    padding: 5px;
}


.footer-center {
    text-align: center;
    background-color: orange;
    font-weight: bold;
}



